<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{book.name}}</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeBookDetailModal()">Cancel</button>
      </div>
    </ion-header-bar>
    <ion-content class="padding" style="padding-top:20px; background-color:#94271F;">
        <img src="{{book.imageLinks.thumbnail}}" style="float:left; margin-right: 10px;" />
        <h2 style="color:#fff;">{{book.name}}</h2>
        <h4 style="color:#fff;">{{book.authors.join(", ")}}</h4>
        <p style="color:#fff;">{{book.categories.join(", ")}}</p>
        <h4 style="color:#fff;">Synopsis:</h4>
        <p style="color:#fff;">{{book.description}}</p>
  
  
    </ion-content>
</ion-modal-view>