<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Your Books</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeBookSelect()">Done</button>
      </div>
    </ion-header-bar>
    <ion-content class="mnm-ion-content">
      <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="book in userBooks">
          <img src="{{book.imageLinks.thumbnail}}" />
          <h2>{{book.name}}</h2>
          <p>{{book.authors.join(", ")}}</p>
          <p>{{book.categories.join(", ")}}</p>
          
          <ion-option-button class="button-positive center-option-button" ng-click="selectBook($index)">
            <i class="icon ion-checkmark"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-modal-view>