<ion-view title="Explore">
  <ion-content class="padding">
    <div ng-hide="image">
        <a class="button button-block button-positive" ng-click="takePicture()">
            <i class="ion-camera icon"></i>
            Take Picture
        </a>
    </div>
    <div ng-show="image">
        <img src="{{image}}" style="display:block;margin:auto;max-width:100%;" />
        <a class="button button-block button-positive" ng-click="takePicture()">
            <i class="ion-camera icon"></i>
            Re-take Picture
        </a>
    </div>
    <div class="list" ng-show="image">
      <label class="item item-input">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" max-selected-items="1" ng-model="book" placeholder="Book Name" 
                       item-value-key="name"
                       item-view-value-key="name"
                       items-method="getBooks(query)"
                       items-clicked-method="getBook(callback)"
                       items-removed-method="removeBook(callback)"/>
      </label>
      <label class="item item-input">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="tradeBooks" placeholder="Books That You Want" item-value-key="name"
                       item-view-value-key="name"
                       items-method="getBooks(query)"
                       items-clicked-method="getTradeBook(callback)"
                       items-removed-method="removeTradeBook(callback)"/>
      </label>
    </div>
    <div  ng-show="selectedBook.name">
        <h3>
            Your Book
        </h3>
        <ion-list>
            <ion-item class="item-thumbnail-left"><!-- ng-repeat="item in items" ng-class="{purchased: item.status == 'purchased'}"> -->
              <img src="{{selectedBook.imageLinks.thumbnail}}" />
              <h2>{{selectedBook.name}}</h2>
              <p>{{selectedBook.authors.join(", ")}}</p>
              <p>{{selectedBook.categories.join(", ")}}</p>
              <ion-option-button class="button-assertive center-option-button">
                <i class="icon ion-close"></i>
              </ion-option-button>
            </ion-item>
          </ion-list>
        </div>
        <div ng-show="tradeBooksList.length">
            <h3>
                Books That You Want
            </h3>
            <ion-list>
                <ion-item class="item-thumbnail-left" ng-repeat="selectedBook in tradeBooksList">
                  <img src="{{selectedBook.imageLinks.thumbnail}}" />
                  <h2>{{selectedBook.name}}</h2>
                  <p>{{selectedBook.authors.join(", ")}}</p>
                  <p>{{selectedBook.categories.join(", ")}}</p>
                  <ion-option-button class="button-assertive center-option-button">
                    <i class="icon ion-close"></i>
                  </ion-option-button>
                </ion-item>
              </ion-list>
            </div>
            <a class="button button-block button-positive" ng-click="submitBooks()" ng-show="selectedBook.name">
                Next
              </a>
            <div ng-show="books.length">
            <h3>
                Books That You Own
            </h3>
            <ion-list>
                <ion-item class="item-thumbnail-left" ng-repeat="book in books" ng-click="checkBook(book)">
                  <img src="{{book.imageLinks.thumbnail}}" />
                  <h2>{{book.name}}</h2>
                  <p>{{book.authors.join(", ")}}</p>
                  <p>{{book.categories.join(", ")}}</p>
                  <ion-option-button class="button-assertive center-option-button" ng-click="deleteBook(book)">
                    <i class="icon ion-close"></i>
                  </ion-option-button>
                </ion-item>
              </ion-list>
            </div>
      
  </ion-content>
</ion-view>