<ion-view>
  <ion-content class="padding">
    <h3>Your Book</h3>
    <ion-list>
        <ion-item class="item-thumbnail-left" ng-if="selectedBook">
          <img src="{{selectedBook.imageLinks.thumbnail}}" />
          <h2>{{selectedBook.name}}</h2>
          <p>{{selectedBook.authors.join(", ")}}</p>
          <p>{{selectedBook.categories.join(", ")}}</p>
          <ion-option-button class="button-assertive center-option-button">
            <i class="icon ion-close"></i>
          </ion-option-button>
          
        </ion-item>
        <div ng-show="tradeBooks.length">
            <h3>
                Books That Are of Equal Worth
            </h3>
            <ion-list ng-repeat="book in tradeBooks">
                <ion-item class="item-thumbnail-left" >
                  <img src="{{book.imageLinks.thumbnail}}" />
                  <h2>{{book.name}}</h2>
                  <p>{{book.authors.join(", ")}}</p>
                  <p>{{book.categories.join(", ")}}</p>
                </ion-item>
                <ion-item ng-repeat="queryBook in book.query" class="item-avatar">
                    <img src="{{queryBook.user.profileImageURL}}" />
                    <h2>{{queryBook.user.displayName}}</h2>
                    <ion-option-button class="button-positive center-option-button" ng-click="makeOffer(queryBook.user_id, queryBook, $parent.$index, index)">
                        <i class="icon ion-checkmark"></i>
                      </ion-option-button>
                </ion-item>
              </ion-list>
            </div>
      </ion-list>
      <a class="button button-block button-positive" href="#/tab/mnm">
        Mix and Match
      </a>
      <a class="button button-block button-royal" href="#/tab/explore">
        New Bartr
      </a>
  </ion-content>
</ion-view>