<ion-view title="Friend">
  <ion-content class="red-bg">
    
    <div class="row" style="padding-right:0px;">
      <div class="col col-30" style="display:flex;justify-content: center;align-items: center;">
      </div>  
      <div class="col col-70" style="padding-right:0px">
        <h4 style="color:#fff;position:absolute;font-size:16px;">{{profile[userId].displayName}}</h4>    
      </div>
    </div>
    <div class="row" style="padding-right:0px;margin-top:15px;">
      <div class=" col-30 dark-blue-bg" style="display:flex;justify-content: center;align-items: center; border-radius:50% 0 0 50%; height:100px;">
        <img src="{{userId|profileImageURL}}" style="border-radius:50%;height:100px;width:100px;" />    
      </div>  
      <div class=" col-70" style="padding-right:0px;height:100px;">
        <div class="dark-blue-bg" style="height:100%;">
          <p style="
              line-height: 1.3em;
              font-size: 95%;
              padding: 10px 0 0 10px;
              margin: 0;
          ">{{profile[userId].quote.message || "Your quote here"}}</p>
          <p style="text-align:right;padding-right:10px; font-style:italic;">-- {{profile[userId].quote.character || "You"}}</p>
          <a class="button button-calm button-small icon-left ion-email" href="#/chat/{{userId}}" style="font-size:12px;float:left;margin-right:5px;">Message</a> 
          <a class="button button-balanced button-small icon-left ion-share" ng-click="referBook()">Refer</a>
        </div>
        
      </div>
    </div>
    <div class="grey-bg" style="margin-top:10px;">
      <div class="row">
        <h3 class="col col-80">Books I've Read</h3>
      </div>
      <div class="row">
        <div ng-repeat="i in [0, 1, 2, 3, 4]" class="col col-20" ng-click="viewBook(i)">
             
              <img src="{{talkBookList[i].imageLinks.thumbnail || 'img/book-placeholder.png'}}" class="mnm-footer-image"/>    
        </div>
      </div>
    </div>
    <div class="grey-bg" style="margin-top:10px;">
      <div class="row">
        <h5 class="col col-80">Friends</h5>
      </div>
      <div class="row">
        <div ng-repeat="i in [0, 1, 2, 3, 4]" class="col col-20" ng-click="viewFriend(chatmates[i])">
             
              <img src="{{chatmates[i]|profileImageURL}}" style="border-radius:50%;width:60px; height:60px;"/>    
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>