<ion-view title="Friends">
  <ion-content class="red-bg">
    <ion-list ng-if="matches" style="margin-top:15px;">
        <div class="row item grey-item" ng-repeat="chatmate in chatmates" ng-click="viewFriend(chatmate)">
          <div class="col-20" style="align-items:center;justify-content:center;display:flex;">
            <img src="{{chatmate | profileImageURL}}" style="width:70px; height:70px; border-radius:50%;" />
          </div>
          <div class="col-30" style="padding:3px;align-items:center;justify-content:center;display:flex;"><p>{{profiles[chatmate].displayName}}</p></div>
          <div class="col-10" ng-repeat="match in matches[chatmate]" style="align-items:center;justify-content:center;display:flex;height:100%;">
            <img src="{{bookCache[match.bookId].imageLinks.thumbnail}}" style="height:100%"/>
          </div>
        </div>
    </ion-list>
    <h3 ng-if="isObjectEmpty(matches)" style="
      margin-top: 70%;
      text-align: center;
      color: #CFC9BD;
    ">Make Friends in the Match Tab</h3>
  </ion-content>
</ion-view>