<ion-view title="Enter Preferred Location">
  <ion-content class="padding">
     
        <div class="list">
          <label class="item item-input">
            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="location.text" placeholder="Preferred locations"
                       items-method="getPlaces(query)"/>
          </label>
          
        </div>
    
     <div class="row">
         <div class="col">
            <button class="button button-positive button-block" ng-click="saveLocation()">Save</button>    
        </div>
     </div>
  </ion-content>
</ion-view>