<ion-content class="padding">
  <ion-slide-box style="height:100vh;">
   <!--  <ion-slide>
      <div class="box blue">
        <h1>Tutorial</h1>
      </div>
    </ion-slide> -->
    <ion-slide>
      <div ng-hide="authData" ng-click="login()">
        <img src="img/LYB-LOGO.png" style="height:auto;width:100%" />
        <img src="img/login-with-fb.png" style="height:auto;width:100%" />
        
      </div>
      
      <div class="card" ng-show="authData">
        <div class="item item-text-wrap">
          Hello {{authData.facebook.displayName}}!
        </div>
      </div>
      
      <span ng-show="authData">
        {{ authData.name }} | <a href="#" ng-click="logout()">Logout</a>
        <a href="#/tab/explore">Go to App</a>
      </span>
    </ion-slide>
  </ion-slide-box>
</ion-content>
