<ion-view>
  <ion-content class="red-bg" style="padding-top:20px;">

        <!-- <ion-list ng-repeat="book in bookMatches">
            <ion-item class="item-thumbnail-left" >
              <img src="{{book.imageLinks.thumbnail}}" />
              <h2>{{book.name}}</h2>
              <p>{{book.authors.join(", ")}}</p>
              <p>{{book.categories.join(", ")}}</p>
            </ion-item>
            <ion-item ng-repeat="match in book.matches | noUserMatch:userId" class="item-avatar">
                <img src="{{profiles[match.uid].profileImageURL}}" />
                <h2>{{match.uid}}</h2>
                <ion-option-button class="button-positive center-option-button" ng-click="addTempMatch(match.uid)">
                    <i class="icon ion-checkmark"></i>
                  </ion-option-button>
            </ion-item>
          </ion-list> -->
        <ion-list ng-if="userBookMatches">
          <div class="row item grey-item" ng-repeat="(uid, books) in userBookMatches" ng-click="addTempMatch(uid)" ng-if="!isFriend(uid)">
            <div class="col-20" style="align-items:center;justify-content:center;display:flex;">
              <img src="img/anon.png" style="width:100%; border-radius:50%;" />
            </div>
            <div class="col-30" style="padding:3px;align-items:center;justify-content:center;display:flex;"><p>Anonymous</p></div>
            <div class="col-10" ng-repeat="book in books" style="align-items:center;justify-content:center;display:flex;height:100%;">
              <img src="{{book.imageLinks.thumbnail}}" style="height:100%"/>
            </div>
          </div>
        </ion-list>
        <h3 ng-hide="userBookMatches" style="
            margin-top: 70%;
            text-align: center;
            color: #CFC9BD;
        ">No Matches</h3>
  </ion-content>
</ion-view>