<ion-view title="Explore">
  <div class="bar bar-subheader red-bg match-header">
    What books do you want to talk about?
  </div>
  <ion-content class="padding" style="padding-top:50px;">
    <!-- <div class="list">
      
      <label class="item item-input" style="margin-top:20px;">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Search" ng-click="openMatchModal()" />
      </label>
    </div> -->
    <a class="button button-block button-positive" ng-click="openMatchModal()" ng-hide="talkBookList.length === 5">
      Add Book
    </a>
    
    <a class="button button-block button-positive" ng-click="submitBooks()" ng-show="talkBookList.length === 5">
      Next
    </a>
    <div class="row">
      <div style="width:16.67%;"></div>

      <div ng-repeat="i in [0, 1]" class="col col-33" on-hold="removeTalkBookList(i)" ng-click="viewBook(i)">
         
          <img src="{{talkBookList[i].imageLinks.thumbnail || 'img/book-placeholder.png'}}" style="width:100%;"/>    
        
      </div>
    </div>
    <div class="row">
      <div ng-repeat="i in [2, 3, 4]" class="col col-33" on-hold="removeTalkBookList(i)" ng-click="viewBook(i)">
         
          <img src="{{talkBookList[i].imageLinks.thumbnail || 'img/book-placeholder.png'}}" style="width:100%;"/>    
        
      </div>
    </div>
      
  </ion-content>
  
</ion-view>