<ion-modal-view>

    <ion-header class="bar bar-header item-input-inset">
    <form ng-submit="tradeBooksQuery()" class="item-input-wrapper">
      <label class="item-input-wrapper">
  	    <i class="icon ion-ios-search placeholder-icon"></i>
  	    <input type="search" placeholder="Search" ng-model="tradeBooks.query">
      </label>
    </form>

      <button class="button button-clear" ng-click="closeMatchModal()">
        Cancel
      </button>
    </ion-header>
    <ion-content class="padding" style="padding-top:50px; background-color:#CFC9BD;">
      <div ng-show="tradeBooksList.length">
        <ion-list>
            <ion-item class="item-thumbnail-left red-item" ng-repeat="selectedBook in tradeBooksList" ng-click="openBookModal($index)">
              <img src="{{selectedBook.imageLinks.thumbnail}}" />
              <h2>{{selectedBook.name}}</h2>
              <p>{{selectedBook.authors.join(", ")}}</p>
              <p>{{selectedBook.categories.join(", ")}}</p>
              <!-- <button class="button button-positive" ng-click="addTalkBookList($index)">
                <i class="icon ion-checkmark"></i>
              </button> -->
              <ion-option-button class="button-positive center-option-button" ng-click="addTalkBookList($index)">
                <i class="icon ion-checkmark"></i>
              </ion-option-button>
            </ion-item>
          </ion-list>
        </div>
        <div ng-hide="tradeBooksList.length">
          <img src="img/type-book-title.png" style="width:100%;display:block;margin:auto;"/>
        </div>
        
        
    </ion-content>
</ion-modal-view>