<ion-view title="Mix And Match">
  <ion-content class="padding">
    
    <td-cards>
        <td-card ng-repeat="card in filteredBooks = (matchBooks | removeOffers:offers:currentUserId)" on-destroy="cardDestroyed(card)" on-swipe-left="onSwipedLeft(card)" on-swipe-right="onSwipedRight(card)" on-partial-swipe="cardPartialSwipe(amt)" class="list card">
          <div ng-controller="CardCtrl">
              <div class="item item-head">
                 <h2>
                    {{card.name}}
                </h2>
              </div>
              <div class="item item-body" ng-click="openModal()">
                <img class="full-image" src="{{card.imageLinks.thumbnail}}">
                
                <h4>
                  {{card.authors.join(", ")}}
                </h4>
                <p>
                  <a href="#" class="subdued">{{card.categories.join(", ")}}</a>
                </p>
              </div>
            
              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="decline()">
                  <i class="icon ion-heart-broken"></i>
                    Decline
                </a>
                <a class="tab-item" href="#" ng-click="openModal()">
                  <i class="icon ion-information-circled"></i>
                  More Information
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-briefcase"></i>
                  Offer
                </a>
              </div>
          </div>
          
        </td-card>
      </td-cards>
      <div ng-hide="filteredBooks.length">
          <h3>You've seen everyone</h3>
      </div>
      

  </ion-content>
    <div class="bar mnm-footer" ng-if="userBooks.length">
        <div class="row">
            <div class="col col-25">
                <img src="{{userBooks[userBookIndex].imageLinks.thumbnail}}" class="mnm-footer-image"/>    
            </div>
            <div class="col col-70">
                <h5 class="truncate">{{userBooks[userBookIndex].name}}</h5>
                <p class="truncate">{{userBooks[userBookIndex].authors.join(", ")}}</p>
            </div>
            <div class="col col-5 mnm-more" ng-click="openBookSelect()">
                <i class="icon ion-android-more-vertical"></i>
            </div>
        </div>
    </div>
</ion-view>