<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{card.name}}</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeModal()">Done</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="item item-avatar">
        <img src="{{profiles[card.user_id].profileImageURL}}">
        <h2>{{profiles[card.user_id].displayName}}</h2>
        <p>{{profiles[card.user_id].location.join(", ")}}</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="{{card.imageLinks.thumbnail}}">
        <h2>
            {{card.name}}
        </h2>
        <p>
          {{card.authors.join(", ")}}
        </p>
        <p>
          {{card.description}}
        </p>
        <p>
          <a href="#" class="subdued">{{card.categories.join(", ")}}</a>
        </p>
        
        
      </div>
    
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="declineModal()">
          <i class="icon ion-heart-broken"></i>
            Decline
        </a>
        <a class="tab-item" href="#" ng-click="closeModal()">
          <i class="icon ion-close"></i>
          Close
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-briefcase"></i>
          Offer
        </a>
      </div>
    </ion-content>
</ion-modal-view>