<ion-view title="Offers">
  <ion-content class="padding">
    <ion-list>
        <div ng-repeat="offer in offers" ng-if="offer.status === 'offer' && offer.from !== currentUserId">
            <ion-item class="item-thumbnail-left"><!-- ng-repeat="item in items" ng-class="{purchased: item.status == 'purchased'}"> -->
              <img src="{{offer.uid2 === user_id ? offer.book1.imageLinks.thumbnail : offer.book2.imageLinks.thumbnail}}" />
              <h2>{{offer.uid2 === user_id ? offer.book1.name : offer.book2.name}}</h2>
              <p>{{offer.uid2 === user_id ? offer.book1.authors.join(", ") : offer.book2.authors.join(". ")}}</p>
              <p>{{offer.uid2 === user_id ? profiles[offer.uid1].location.join(", ") : profiles[offer.uid2].location.join(", ")}}</p>
              <ion-option-button class="button-positive center-option-button" ng-click="acceptOffer(uid1, uid2, offer.ref, $index)">
                <i class="icon ion-checkmark"></i>
              </ion-option-button>
              <ion-option-button class="button-assertive center-option-button" ng-click="declineOffer(offer.ref, $index)">
                <i class="icon ion-close"></i>
              </ion-option-button>
            </ion-item>
            <ion-item class="item-avatar" style="background-color:#f5f5f5;">
              <img src="{{offer.uid2 === user_id ? offer.book2.imageLinks.thumbnail : offer.book1.imageLinks.thumbnail}}" />
              <h2>{{offer.uid2 === user_id ? offer.book2.name : offer.book1.name}}</h2>
              <p>{{offer.uid2 === user_id ? offer.book2.authors.join(", ") : offer.authors.join(", ")}}</p>
            </ion-item>
            
        </div>
        
      </ion-list>
  </ion-content>
</ion-view>