<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Edit Quote</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="saveQuote()">Done</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Enter quote here</span>
          <textarea placeholder="I volunteer" rows="7" ng-model="quote.message" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Who said it?</span>
          <input type="text" placeholder="Katniss Everdeen" ng-model="quote.character" >
        </label>
      </div>
    </ion-content>
</ion-modal-view>