      <ion-tabs class="tabs-icon-top tabs-positive">
      
      <ion-tab title="User" icon="ion-person" href="#/tab/user">
        <ion-nav-view name="user-tab"></ion-nav-view>
      </ion-tab>
      <!--   <ion-tab title="Offers" icon="ion-briefcase" href="#/tab/offers">
          <ion-nav-view name="offers-tab"></ion-nav-view>
        </ion-tab> -->
<!-- 
        <ion-tab title="Explore" icon="ion-compass" href="#/tab/explore">
          <ion-nav-view name="explore-tab"></ion-nav-view>
        </ion-tab>
 -->
        <ion-tab title="Match" icon="ion-compass" href="#/tab/match">
          <ion-nav-view name="match-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Friends" icon="ion-ios-people" href="#/tab/friends">
          <ion-nav-view name="friends-tab"></ion-nav-view>
        </ion-tab>

        <!-- <ion-tab title="Mix And Match" icon="ion-shuffle" href="#/tab/mnm">
          <ion-nav-view name="mnm-tab"></ion-nav-view>
        </ion-tab> -->

      </ion-tabs>