<ion-view title="Anonymous">
    <div class="bar bar-subheader tempchat-subheader" style="height: 70px;background-color:#94271F;padding-right:0px;border-bottom:10px solid #E7B985">
      <div class="row" style="height:100%;padding:0px;">
        <div class="col-5"></div>
        <div class="col-15" style="align-items:center;justify-content:center;display:flex;background:#CFC9BD;border-radius:50% 0 0 50%">
          <img src="img/anon.png" style="height:50px; border-radius:50%;background:#CFC9BD; width:50px;" />
        </div>
        <div class="col-30" style="align-items:center;justify-content:center;display:flex;padding: 7px;background:#CFC9BD;">
          <p>Mutual Books:</p>
        </div>
        <div class="col-50 row" style="background-color:#CFC9BD;height:100%;background:#CFC9BD;padding:0px;">
          <div class="col-20"  ng-repeat="book in commonMatches" style="height:100%;">
            <img src="{{book.imageLinks.thumbnail}}" style="height:100%;" />
          </div>
        </div>
      </div>
    </div>

    <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
          <i class="icon ion-loading-c"></i>
        </div>
    </div>
  
      <ion-content has-bouncing="true" class="has-header has-footer red-bg" 
          delegate-handle="userMessageScroll" style="padding-top:85px;" ng-click="shouldNotFocusOnBlur()">
        
          <div ng-repeat="message in messages" class="message-wrapper">
  
              <div ng-if="chatmateId === message.from">
                  
                <img class="profile-pic left" ng-src="img/anon.png" />
  
                  <div class="chat-bubble left">
  
                      <div class="message" ng-bind-html="message.message | nl2br" autolinker>
                      </div>
  
                      <div class="message-detail">
                          <span class="bold">Anonymous</span>,
                          <span am-time-ago="message.timestamp"></span>
                      </div>
  
                  </div>
              </div>
  
              <div ng-if="chatmateId !== message.from">
                
                   <img class="profile-pic right" ng-src="{{message.from|profileImageURL}}" />
                
                  <div class="chat-bubble right">
  
                      <div class="message" ng-bind-html="message.message | nl2br" autolinker>
                      </div>
  
                      <div class="message-detail">
                          <span class="bold">{{profiles[message.from].displayName}}</span>, 
                          <span am-time-ago="message.timestamp"></span>
                      </div>
  
                  </div>
                
              </div>
  
              <div class="cf"></div>

          </div>
  
          <div id="bottom"></div>
      </ion-content>
  
      <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
          <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
              <label class="item-input-wrapper">
                  <textarea ng-model="msg.text" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" style="width:100%;" msd-elastic detect-focus></textarea>
              </label>
              <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                    ng-disabled="!msg.text || msg.text === ''">
                </button>
              </div>
          </ion-footer-bar>
      </form>
  <!-- <ion-content has-footer="true">

    <ion-list>
        <ion-item class="item-avatar chat-list" ng-class="{'message-other': message.from === chatmateId}" ng-repeat="message in messages"><!-- ng-repeat="item in items" ng-class="{purchased: item.status == 'purchased'}"> -->
          <img src="{{message.from|profileImageURL}}" />
          <h2>{{message.from | displayIDorName:currentUserId:profiles}}</h2>
          <p class="message-content">{{message.message}}</p>
          <span class="timestamp" am-time-ago="message.timestamp"></span>
        </ion-item>
      </ion-list>

  </ion-content> 
    <a class="button button-positive temp-chat-accept" ng-click="match(chatmateId)" ng-if="messages.length >= 10">
      <i class="icon ion-checkmark"></i>
    </a>
    <!-- <a class="button button-assertive temp-chat-reject" ng-click="reject(chatmateId)" ng-if="messages.length >= 10">
      <i class="icon ion-close"></i>
    </a> -->
  <!-- <ion-footer-bar class="item-input-inset">
      <button class="button button-clear" ng-click="sendMessage()" ng-class="{'active': msg.text.length === 0}">
        <i class="icon ion-camera"></i>
      </button>
      <label class="item-input-wrapper">
        <input type="text" placeholder="Your Message..." ng-model="msg.text" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()" ng-class="{'active': msg.text.length === 0}">
        Send
      </button>
    </ion-footer-bar> -->
</ion-view>