<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Lyb</title>

    
    
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <script src="lib/ion-autocomplete/dist/ion-autocomplete.min.js"></script>
    <link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet">
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-ion-tinder-cards/ionic.tdcards.js"></script>
    <link href="lib/ionic-ion-tinder-cards/ionic.tdcards.css" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGIZpdm8jg1gUxHkTkb02t1yfcPZ84-d4&amp;libraries=places"></script>
    
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/moment/angular-moment.min.js"></script>
    <script src="lib/angular-elastic/angular-elastic.js"></script>
    <script src="lib/autolinker/autolinker.js"></script>
    
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
        
    <script>
      function googleOnLoadCallback(){
          var apisToLoad = 1; // must match number of calls to gapi.client.load()
          var gCallback = function() {
              if (--apisToLoad == 0) {
                  //Manual bootstraping of the application
                  //var $injector = angular.bootstrap(document, ["ionicApp"]);
              };
          };
          gapi.client.setApiKey("AIzaSyBGIZpdm8jg1gUxHkTkb02t1yfcPZ84-d4");
          gapi.client.load("books", "v1", gCallback);
          
    
      }
    </script>
    <!-- See https://developers.google.com/api-client-library/javascript/samples/samples -->
    <script src="https://apis.google.com/js/client.js?onload=googleOnLoadCallback"></script>
    <script src="lib/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
<!--
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
-->

  </head>


  <body ng-app="ionicApp">
    
    
    <ion-side-menus ng-controller="NavCtrl">
        
        <ion-side-menu-content drag-content="false">
          <ion-nav-bar class="bar-positive" ng-hide="!loggedIn">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
            </button>
              </ion-nav-buttons>
              
              <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-chatbubbles" ng-click="showRightMenu()" ng-class="{&apos;button-assertive&apos;: hasNewMessage}">
                </button>
              </ion-nav-buttons>
          </ion-nav-bar>
          
          <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content> 
        
        <ion-side-menu side="left">
          <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content has-header="true">
            <ul class="list">
              <li>
                <a class="item" menu-close="" nav-clear="" href="#/tab/match">Match</a>
              </li>
              <li>
                <a class="item" menu-close="" href="#/tab/user">Profile</a>
              </li>
              <li>
                <a class="item" menu-close="" href="#/tab/friends">Friends</a>
              </li><!-- 
              <li>{{chatlist}}</li>
              <li>{{messagecount}}</li> -->
              <li ng-controller="LoginCtrl">
                <a class="item" menu-close="" href="#" ng-click="logout()">Log out</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>
      
        <ion-side-menu side="right" ng-controller="ChatListCtrl">
          <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Chat</h1>
          </ion-header-bar>
          <ion-content ion-sticky="" class="red-bg">
            <ion-list>
              <ion-item class="item-divider">Friends</ion-item>
              <ion-item ng-repeat="chatmate in chatlist.friends" class="item item-avatar grey-item" menu-close="" nav-clear="" href="#/chat/{{chatmate}}" ng-class="{&apos;message-other&apos;: messagecount[$index] !== 0}" ng-click="resetIndex($index)" style="margin-bottom:1px;">
                    <img src="{{chatmate | profileImageURL}}"> 
                    {{profiles[chatmate].displayName}}
                    <p>{{lastMessage[chatmate].message || &quot;No Messages&quot;}}</p>

              </ion-item>
              <ion-item class="item-divider">Chatmates</ion-item>
              <ion-item class="item-avatar grey-item" ng-repeat="chatmate in chatlist.temp" menu-close="" nav-clear="" href="#/tab/match/tempchat/{{chatmate}}" ng-class="{&apos;message-other&apos;: messagecount[searchIndex(chatmate)] !== 0}" ng-click="resetIndex(searchIndex(chatmate))" style="margin-bottom:1px;">
                    <img src="img/anon.png"> 
                    Anonymous
                    <p>{{lastMessage[chatmate].message || &quot;No Messages&quot;}}</p>
              </ion-item>
              
          </ion-list>
          </ion-content>
        </ion-side-menu>
        
      </ion-side-menus>
    <!-- Begin Inspectlet Embed Code 
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 873048763]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->
  </body>

</html>